* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --nav-height: 7.2rem
}

body {
    background-color: silver;
    font-family: "DM SANS";
    font-size: 1.6rem;
    text-align: center;




}

header {
    margin-top: calc(4.1rem + var(--nav-height));
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-inline: 2.4rem;

}

h4 {

    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

h1 {
    font-size: 3.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3.2rem;

}

button {
    background-color: black;
    color: white;
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 4rem;
    width: 26.3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.9rem;

}

img {
    border-radius: 0.8rem;
    display: block;
    margin-inline: auto;
    object-position: 0;



}

.logo_note {

    box-shadow: 0 0 1em black;
}

.stats_card {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: white;
    border: 1px solid silver;
    border-radius: 0.8rem;
    box-shadow: 0 0 1em black;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    /* justify-content: center; */
    /* gap: 6rem; */


}

.stats_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.stats_card h3 {

    font-size: 4.8rem;
    line-height: 130%;
    margin-bottom: 0.4rem;

}


.stats_card p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 150%;

}

header::before {
    content: "";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    transform: translateX(-10%);
    background-color: sil;


}

.icon {
    margin-left: 36rem;
    background-color: #f1f1f1;

}

.logo {
    margin-right: 100%;
    padding-right: 100%;
    background-color: #f1f1f1;


}

nav.scroll {

    opacity: initial;

}